body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #007bff;
}

.book-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #eee;
}

.book-details {
    padding: 20px;
    text-align: center;
}

.book-details h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: #343a40;
}

.book-details p {
    margin: 0 0 10px;
    text-align: left;
    color: #6c757d;
}

.book-details ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}

.book-details li {
    margin-bottom: 5px;
}

.book-details img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-group {
    margin-top: 20px;
    text-align: center;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.back-btn {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #0056b3;
}

#bookDetails {
    margin-top: 20px;
    text-align: center;
}

#bookDetails img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

#bookDetails h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: red;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

.description {
    font-weight: bolder;
}

img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

img:hover {
    transform: scale(1.8);
    transition: 0.5s;
    rotate: 360deg;
    position: relative;
    top: -200px;

}