/* Genel stiller */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #212529;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffc107;
}

/* Navbar stilleri */
.navbar {
  background-color: #343a40;
  padding: 10px 0;
}

.navbar-brand {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.navbar-brand:hover {
  color: #ffc107;
}

/* Başlık stilleri */
header {
  background-color: #fff;
  padding: 50px 0;
  border-bottom: 1px solid #dee2e6;
  text-align: center;
}

header h1 {
  color: #212529;
  font-size: 3em;
}

/* Menü stilleri */
.menu {
  margin-top: 50px;
  text-align: center;
}

.menu h2 {
  color: #212529;
  font-size: 2em;
  font-weight: bold;
}




/* Kart stilleri */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin-bottom: 30px;
  width: 100%;
  height: 730px;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-title {
  color: #212529;
  font-size: 1.5em;
  font-weight: bold;
  transition: color 0.3s ease;
  max-width: 300px;
}

.card-title:hover {
  color: #ffc107;
}

.card-text {
  color: #6c757d;
}

.list-group-item {
  border: none;
}

/* Footer stilleri */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
}




footer a:hover {
  text-decoration: underline;
}

.card img {
  width: 100%;
  height: 450px;
}

